@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET é um framework web que não custa nada para poder utilizá-lo 
    e construir maravilhosos Web sites e Aplicações Webs usando HTML, CSS e Javascript.</p>
    <h4>Veja o sistema de cadastros que fiz para concluir o Projeto Multidisciplinar 8 do curso de Análise e 
    Desenvolvimento de Sistemas da Universidade Paulista (Unip).</h4>
    <p><a href="../../Controllers/WebForm1.aspx" class="btn btn-primary btn-lg"> Clique Aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aprenda também</h2>
        <p>
            ASP.NET MVC dar para nós uma gama de formas para construir aplicações web dinâmicas
            que permitem a separação clara entre os conceitos e dá um completo controle da linguagem de marcação
            para um desenvolvimento recompensador e um desenvolvimento ágil.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PIM 8</h2>
        <p>Veja meu projeto escrito, nele há o cronograma de desenvolvimento, a Estrutura Analítica do Projeto (EAP), 
        alguns parágrafos sobre o .NET framework e o C#(Csharp), além dos diagramas, tabela do banco de dados e 
        as métricas de qualidade. </p>
        <p><a class="btn btn-default" target="_blank" href="../../Content/PIM8-ERICKBUENOSILVA.pdf">Pim 8 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
</div>